yolov5_setup2/data/50_75_150_180/
yolov5_setup2/data/100_120/
yolov5_setup2/data/plume100.mp4
yolov5_setup2/data/plume120.mp4
yolov5_setup2/finalResultsArranged100.csv
yolov5_setup2/tuyerePlumeWidthTable100.csv
yolov5_setup2/plume100_exp8.mp4
yolov5_setup2/finalResultsArranged120.csv
yolov5_setup2/tuyerePlumeWidthTable120.csv
yolov5_setup2/plume120_exp8.mp4